.flex-painel header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: white;
    padding: 10px 30px;
    border: 1px solid rgba(0,0,0,.0625);
}

.flex-painel header a{
    text-decoration: none;
    color: #72777a;
}

.flex-painel header a > svg{
    color: #016DA0;
}
