<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/all.css" />
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css" />
    <title>Painel</title>
  </head>
  <body>
    <div class="flex-painel">
      <sidebar>
        <div class="siderbar-title">
          <h2>Menu</h2>
        </div>
        <div class="menu">
          <ul>
            <li>
              <a href="#">A</a>
            </li>
            <li>
              <a href="#">B</a>
            </li>
            <li>
              <a href="#">C</a>
            </li>
            <li>
              <a href="#">D</a>
            </li>
          </ul>
        </div>
      </sidebar>
      <main>
        <header>
          <a href="painel.html">
            <i class="fas fa-home"></i> Painel de Controle</a
          >
          <a href="../index.html"> <i class="fas fa-sign-out-alt"></i> Sair</a>
        </header>
        <div class="main-content">
          <div class="painel-content">
            <div class="painel-flex-parent">
              <div class="painel-box">
                <a href="#">A</a>
              </div>
              <div class="painel-box">
                <a href="#">B</a>
              </div>
              <div class="painel-box">
                <a href="#">C</a>
              </div>
              <div class="painel-box">
                <a href="#">D</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
  </body>
</html>
